.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  .header {
    height: 100px;
    width: 100%;
    background-color: #79C23D;
    color: white;
    overflow: hidden;
    position: relative;

    .image-wrapper {
      width: 1000px !important;
      position: absolute;
      height: 100%;
      left: 50%;
      //top: 5%;
      margin-left: -500px;
      overflow: hidden;

      img {
        display: block;
        margin: 0 auto;
        height: 100%;
        //transform: scale(0.7);
      }
    }
  }
}
