@keyframes moveLogo {
  from {
    top: 5px;
    transform: scale(1);
  }
  to {
    top: -13px;
    transform: scale(0.8);
  }
}

@keyframes moveLogoBack {
  from {
    top: -13px;
    transform: scale(0.8);
  }
  to {
    top: 5px;
    transform: scale(1);
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  .header {
    height: 100px;
    width: 100%;
    background-color: #79C23D;
    color: white;
    overflow: hidden;
    position: relative;

    .image-wrapper {
      width: 1000px !important;
      position: absolute;
      left: 50%;
      top: 5%;
      margin-left: -500px;
      overflow: hidden;

      img {
        display: block;
        margin: 0 auto;
        transform: scale(0.7);
      }
    }
  }
}

.imageCentererAnimation {
  width: 1000px !important;
  position: absolute;
  left: 50%;
  top: 5px;
  margin-left: -500px;
  overflow: hidden;
  animation: moveLogo .35s ease-out;
  animation-fill-mode: forwards;

  img {
    display: block;
    margin: 0px auto;
    transform: scale(0.7);
  }
}

.imageCentererBackAnimation {
  width: 1000px !important;
  position: absolute;
  left: 50%;
  top: 5px;
  margin-left: -500px;
  overflow: hidden;
  animation: moveLogoBack .35s ease-out;
  animation-fill-mode: forwards;

  img {
    display: block;
    margin: 0px auto;
    transform: scale(0.7);
  }
}
