.navbar {
  //border-top: 1px solid black;
  //border-bottom: 1px solid black;
  height: 45px;
  background-color: rgba(65, 88, 35, 0.7);
  color: white;
  position: relative;
  padding-left: 23%;
  z-index: 1000;

  @media (max-width: 650px) {
    padding-left: 0;
  }
}

.navbar-items {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 25px;
  height: 45px;
  font-size: 16px;

  .navbar-pages {
    display: flex;
    align-items: center;
    cursor: pointer;

    .mar-left--25 {
      margin-left: 25px;
    }

    .selectedPage {
      margin-left: 20px;
      margin-top: 13.5px;
      margin-bottom: 4px;

      .selected {
        font-weight: bold;
        margin-left: 8.5px;
        height: 20px;
        margin-bottom: 12.5px;
      }

      .selectedBar {
        background-color: white;
        opacity: 0.5;
        height: 3px;
        width: 95px;
      }
    }
  }
}
