.navbar {
  //border-top: 1px solid black;
  border-bottom: 1px solid black;
  height: 45px;
  width: 100%;
  background-color: #415823;
  color: white;
  position: relative;
}

.navbar-items {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 25px;
  height: 45px;
  font-size: 16px;

  .navbar-pages {
    display: flex;
    align-items: center;
    cursor: pointer;

    .mar-left--25 {
      margin-left: 25px;
    }

    .selectedPage {
      margin-left: 20px;

      .selected {
        font-weight: bold;
        margin-left: 7px;
        //border-bottom: 3px solid rgba(255, 255, 255, .5);
      }

      .selectedBar {
        background-color: white;
        opacity: 50%;
        height: 3px;
        width: 100px;
      }
    }
  }
}
